* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #333;
  color: antiquewhite;
  overflow-Y: hidden;
}

.first-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-page .intro {
  max-width: 700px;
  margin: 15vh auto 0 auto;
  font-size: 22px;
  padding: 20px;
}

.first-page .intro_header {
  margin-bottom: 30px;
  text-align: center;
}

.first-page .startBtn {
  margin: 5vh auto;
  padding: 10px;
  text-align: center;
}

.first-page .startBtn button {
  padding: 7px 12px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: black;
  color: white;
}

.first-page .startBtn button:hover {
  background-color: #3b3939;
}

.page-two {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.page-two .lederboard {
  margin: 0 auto;
  text-align: center;
  padding: 7px 12px;
  border-radius: 10px;
  font-size: 15px;
  background-color: black;
  color: white;
}

.page-two .lederboard:hover {
  background-color: #3b3939;
}

.page-two .quizzForm {
  font-size: 23px;
  border: 2px solid pink;
  padding: 20px;
  margin: 20vh auto;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.page-two .quizzForm .question {
  margin-bottom: 20px;
}

.page-two .quizzForm .controlBtns {
  margin-top: 20px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
}

.page-two .quizzForm .controlBtns #name {
  padding: 5px;
  border-radius: 5px;
}

.page-two .quizzForm .controlBtns #resultBtn, .page-two .quizzForm .controlBtns #nextBtn {
  padding: 2px 15px;
  font-size: 18px;
  border-radius: 10px;
}

.page-two .resultContainer {
  border: 2px solid pink;
  padding: 20px;
  margin: 20vh auto;
  max-width: 600px;
}

.page-two .resultContainer h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
}

.page-two .resultContainer p {
  font-size: 20px;
}

.page-two img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.disabled {
  display: none;
}

.button-active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
}

.modalBackground {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  color: #333;
}

.modalBackground .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modalBackground .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalBackground .modal-content .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalBackground .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalBackground .modal-content .lederboard-list {
  list-style: none;
}
