*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: antiquewhite;
}

.quizzForm {
    font-size: 23px;
    border: 2px solid pink;
    padding: 20px;
    margin:20vh auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.question{
    margin-bottom: 20px;
}
.controlBtns {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap:50px;
}
#results, #nextBtn{
    padding: 2px 15px;
    font-size: 18px;
    border-radius: 10px;
}
.disabled{
    display:none;
}
#name{
    padding: 5px;
    border-radius: 5px;
    
}
.resultContainer{
    border: 2px solid pink;
    padding: 20px;
    margin:20vh auto;
    max-width: 600px;
}

.resultContainer h3{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.resultContainer p{
    font-size: 20px;
}

.resultContainer .img img {
    width: 100%;
    
    object-fit: contain;
}